/* Global style of bostorek website */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
:root {
  --primary: #0c0c0c;
  --secondary: #44b89d;
  --third: #063547;
  --gray: #f5f6f9;
  --white: #ffffff;
}

body {
  width: 100%;
  color: var(--primary);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.container {
  margin: 0 auto;
  padding: 0 1rem;
}
/***************button**************/
.btn-normal {
  display: block;
  width: 180px;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white);
  text-transform: capitalize;
  text-align: center;
  border-radius: 25px;
}
/* *****************padding******************** */
/*padding top and bottom*/
.tb-p-10 {
  padding: 10px 0;
}
.tb-p-15 {
  padding: 15px 0;
}
.tb-p-20 {
  padding: 20px 0;
}
.tb-p-25 {
  padding: 25px 0;
}
.tb-p-30 {
  padding: 30px 0;
}
.tb-p-40 {
  padding: 40px 0;
}
.tb-p-50 {
  padding: 50px 0;
}
.tb-p-60 {
  padding: 60px 0;
}
.tb-p-70 {
  padding: 70px 0;
}
.tb-p-80 {
  padding: 80px 0;
}

/* media query container */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* .container {
    width: 560px;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1280px;
  }
}
