/* index Home page css file */
/* ***********Hearder Section************ */
#header {
  background-color: var(--third);
}
#header-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
}
#header a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s ease;
}
#header .logo span {
  font-size: 26px;
  font-weight: 800;
  color: var(--secondary);
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li {
  list-style: none;
  padding: 0 15px;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
}
#navbar li a:hover,
#navbar li a.active {
  color: var(--secondary);
}
#navbar li form input {
  width: 300px;
  outline: none;
  border: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 20px;
}
#navbar i {
  font-size: 15px;
  align-items: center;
}
#navbar li form {
  position: relative;
}

#navbar li button {
  outline: none;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--secondary);
  color: var(--white);
  position: absolute;
  top: 3px;
  right: 3px;
}
#navbar li form button:hover {
  cursor: pointer;
}
/* #mobile & #close will desaible on big screen and will appear in tablet & mobile */
#mobile {
  display: none;
  align-items: center;
}
#close {
  display: none;
}

/* ***********Hero Section************ */
#hero {
  background-color: var(--gray);
  padding: 80px 0;
  position: relative;
}
#hero .hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero-info h5 {
  font-size: 1.25rem;
  color: var(--secondary);
}
#hero .hero-info h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 25x;
}
#hero .hero-info p {
  font-size: 1rem;
  margin-bottom: 15px;
}
#hero .hero-info a {
  transition: all 0.3s ease;
}
#hero .hero-info a:hover,
#about .about-details a:hover {
  display: block;
  width: 180px;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid var(--secondary);
  background-color: var(--white);
  color: var(--secondary);
  text-transform: capitalize;
  text-align: center;
  border-radius: 25px;
}

#hero .hero-img {
  width: 50%;
}
#hero .hero-img img {
  width: 100%;
}
#hero .carousel_btn_box {
  width: 300px;
  position: absolute;
  bottom: -25px;
  left: 30px;
}
#hero .carousel_btn_box a {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--third);
  text-align: center;
  transition: all 0.3s ease;
}
#hero .carousel_btn_box a:hover {
  background-color: var(--secondary);
}
#hero .carousel_btn_box i {
  font-size: 25px;
  color: var(--white);
  padding-top: 12px;
}
/* categories section */
#categories {
  text-align: center;
}
#categories h2,
#about h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
}
#categories .box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#categories .cat-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
#categories .img-box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--gray);
  display: flex;
  position: relative;
}
#categories .img-box img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
}
#categories .details-box h5 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 15px 0;
}
#categories .details-box p {
  margin: 0;
}

/* about section */

#about {
  background-color: var(--gray);
}
#about .about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#about .about-img {
  width: 50%;
}
#about .about-img img {
  width: 100%;
}
#about .about-details {
  width: 50%;
  padding-left: 1rem;
}
#about .about-details p {
  line-height: 1.5;
  padding: 1.5rem 0 1.9rem 0;
}
#about .about-details a {
  transition: all 0.3s ease;
}

/******************************************* Start Media Query *********************************************/
/*###########Responsive on Tablet#########*/
@media (max-width: 899px) {
  /* navigation bar */
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    font-size: 25px;
    color: var(--white);
    /* padding-right: 20px; */
  }
  #navbar {
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0px;
    /* to hide nav in right side  */
    right: -350px;
    /* for show nav in full height */
    height: 100vh;
    width: 350px;
    background-color: var(--third);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: all 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  #close i:hover {
    color: var(--secondary);
  }
  #navbar i.fa-times {
    font-size: 25px;
    align-items: center;
  }
  #hero .hero-info h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 25x;
  }
}

/*###########Responsive on Mobile#########*/
/* navigation bar */
@media (max-width: 477px) {
  #hero {
    padding: 15px 0 30px 0;
  }
  #hero .hero-container {
    flex-direction: column;
  }
  #hero .hero-container .hero-info {
    width: 100%;
    margin-bottom: 3rem;
  }
  #hero .hero-container .hero-img {
    width: 100%;
  }
  /* categories */
  #categories .cat-box {
    width: 100%;
  }
  #categories .cat-box p {
    padding: 0 1rem;
  }
}
